<%= form_for(@cupboard) do |f| %>
<%= render 'error_messages', object: @cupboard %>

    <p>Cupboard name:</p>
    <%= f.text_field :name %><br><br>

      <%= f.fields_for :items do |item| %>
        <%= render 'item_fields', :f => item %>
      <% end %>

      <div class='links add-items'>
        <%= link_to_add_association 'Add an item', f, :items %>

        <br><br>

        <%= f.submit :submit, class: "btn btn-login" %>
      </div>

  <% end %>