<% provide(:title, @user.name) %>
      <h2>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h2>

      <!-- displaying the users orders - items returned and not returned and items used -->

      <h4>Items borrowed and not returned yet</h4>

      <% @user_items_all.not_returned.each do |item| %>

      <% if item.item.borrowable == true %>

      <% if current_user.id == @user.id || current_user.admin? %>
      <%= link_to item.item.name, user_item_path(item.id) %><br>
      <% else %>
      <%= item.item.name %><br>
      <% end %>

      <% end %>

      <% end %>

      <h4>Items borrowed and returned</h4>

      <% @user_items_all.returned.each do |item| %>

      <% if item.item.borrowable == true %>

      <% if current_user.id == @user.id || current_user.admin? %>
      <%= link_to item.item.name, user_item_path(item.id) %><br>
      <% else %>
      <%= item.item.name %><br>
      <% end %>

      <% end %>

      <% end %>

      <h4>Items used</h4>

      <% @user_items_all.returned.each do |item| %>

      <% if item.item.borrowable == false %>

      <% if current_user.id == @user.id || current_user.admin? %>
      <%= link_to item.item.name, user_item_path(item.id) %><br>
      <% else %>
      <%= item.item.name %><br>
      <% end %>
      
      <% end %>

      <% end %>
