
<div class="row">
  <aside class="col-md-4">
      <h1>
      	<br><br>
      		<h2>Item receipt:</h2>

      		<h4>Item product code:</h4>
         	<%= @user_item.item_id %>

         	<h4>Item name:</h4>
         	<%= @user_item.item.name %>

         	<h4>User who ordered this:</h4>
         	<%= @user_item.user.name %>

         	<h4>Item quantity:</h4>
         	<%= @user_item.item.item_quantity %>

         	<h4>Will this item be returned?</h4>

         	<% if @user_item.item.borrowable? %>
         	This item was borrowed and will be returned

         	<br><br>

         	<% if @user_item.user.id == current_user.id && @user_item.returned == false %>

         	<%= link_to 'Return',  returning_user_item_path(@user_item), method: :put, data: { confirm: 'Are you sure?' } %>


         	<% end %>

         	<% if @user_item.returned == true %>

         	This item was returned

         	<% end %>

         	<% else %>
         	This item was taken and will not be returned
         	<% end %>

         	<br><br>

         <% if @user_item.item.borrowable? %>


         <!-- if the created at date (02/10/18) is less than the date today (e.g. 03/10/18 -2 = 01/10/18) then item is overdue -->

         Status:
         <%= if (@user_item.created_at < Date.today-2.days && @user_item.returned == false)
            "Overdue - you need to return the item!"
          else
            "Within return time"
           end %>
         </p>

         <p>
           Fine:
           <%= number_to_currency(@user_item.fine, {unit: '£', precision: 2 }) %>
         </p>

         <% else %>

         <% end %>

      </h1>
  </aside>
</div>