<li>
  <%= link_to item.name, item %>
  <% if current_user.admin? && !current_user?(@user) %>
    | <%= link_to "edit", edit_item_path(item) %> | <%= link_to "delete", item, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>

  <% if item.borrowable? %>
  <%= link_to "Borrow item", order_stationary_url(item) %>
  <% else %>
  <%= link_to "Take item", order_stationary_url(item) %>
  <% end %>
  
</li>