<% provide(:title, 'All stationary') %>
<h2>All stationary</h2><br>

<div class="page-container">

<table class="table">
  <thead>
    <tr>
      <th>Product code</th>
      <th>Item name</th>
      <th>Item quantity</th>
      <th>Cupboard item is stored in</th>
      <th>Borrow/use</th>
      <th>Other actions</th>
    </tr>
  </thead>

  <tbody>

<% @items.each do |item| %>

<tr>

  <td><%= item.id %></td>
  <td><%= link_to item.name, item %></td>
  <td><%= item.item_quantity %></td>
  <td><%= link_to item.cupboard.name %></td>

<% if item.item_quantity == 0 %>

<% else %>

  <% if item.borrowable?  %>

    <% if(@all_user_items.where('created_at < ? and returned = ?', DateTime.now-2.days, false).present?) %>

      <% else %>

        <td><%= link_to "Borrow item", order_stationary_url(item) %></td>

      <% end %>

  <% else %>
  <td><%= link_to "Use item", order_stationary_url(item) %></td>
  <% end %>
  
<% end %>

  <% if current_user.admin? && !current_user?(@user) %>
    <td><%= link_to "edit", edit_item_path(item), class: 'btn btn-login btn-action' %> <%= link_to "delete", item, class: 'btn btn-login btn-action', method: :delete,
                                  data: { confirm: "You sure?" } %></td>
  <% end %>
</div>

</tr>
  
<% end %>

</tbody>
</table>

</div>