<% provide(:title, @item.name) %>

<%= form_tag(user_items_path, method: "POST") do %>

  <h4>Product code:</h4>
  <p><%= @item.id %></p>

  <h4>Item name:</h4>
  <p><%= @item.name %></p>

  <h4>Can this item be borrowed?</h4>
  <% if @item.borrowable? %>
    <p>Yes</p>
  <% else %>
    <p>No</p>
  <% end %>

  <h4>Item quantity</h4>
  <p><%= @item.item_quantity %></p>

<%= fields_for :user_item do |item| %>
  <%= item.hidden_field :item_id, value: @item.id %>
  <%= item.hidden_field :user_id, value: current_user.id %>
<% end %>

<br>

<% if(@item.borrowable?) %>
  You are about to borrow 1 <%= @item.name %><br><br>
  <%= submit_tag("Borrow item", :class => "btn btn-login") %>
<% else %>
  You are about to use 1 <%= @item.name %><br><br>
  <%= submit_tag("Use item", :class => "btn btn-login") %>
<% end %>

<% end %> 
