<% provide(:title, @item.name) %>

<div class="page-container">

        <h5>Product code:</h5>
        <p><%= @item.id %></p>

      	<h5>Item name:</h5>
        <p><%= @item.name %></p>

        <h5>Cupboard where it's stored:</h5>
        <%= link_to @item.cupboard.name, cupboard_url(@item.cupboard) %>

        <h5>Item quantity:</h5>
        <p><%= @item.item_quantity %></p>

        <h5>Can this item be borrowed?</h5>

        <% if @item.borrowable? %>
        <p>Yes</p>
        <% else %>
        <p>No</p>
        <% end %>

        <br>

        <% if @item.item_quantity == 0 %>

        <% else %>

          <% if @item.borrowable? %>
            <%= link_to "Borrow item", order_stationary_url(@item), class: 'btn btn-login' %>
          <% else %>
            <%= link_to "Use item", order_stationary_url(@item), class: 'btn btn-login'%>
          <% end %>
  
        <% end %>

</div>