<% provide(:title, @item.name) %>
<div class="row">
  <aside class="col-md-4">
      <h1>
      	<br><br>

        <h3>Product code:</h3>
        <%= @item.id %>

      	<h3>Item name:</h3>
        <%= @item.name %>

        <h3>Cupboard where it's stored:</h3>
        <%= link_to @item.cupboard.name, cupboard_url(@item.cupboard) %>

        <h3>Item quantity:</h3>
        <%= @item.item_quantity %>

        <h3>Can this item be borrowed?</h3>

        <% if @item.borrowable? %>
        Yes
        <% else %>
        No
        <% end %>

        <br><br>


        <% if @item.item_quantity == 0 %>

        <% else %>

          <% if @item.borrowable? %>
            <%= link_to "Borrow item", order_stationary_url(@item) %>
          <% else %>
            <%= link_to "Use item", order_stationary_url(@item) %>
          <% end %>
  
        <% end %>

      </h1>
  </aside>
</div>